
{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
{% if session['name'] %}

Welcome {{ session['name'] }}


        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/upload/" method="POST" id = "form-input" enctype="multipart/form-data">
                <div class="form-group">
                    {{ message }}
                    <br>
                    <label>Input Picture:</label>
					<div class="form-group">
                        <input type="file" class="form-control" name = "image" id = "image" accept="image/*">
					</div>
                    
                </div>
            </form>
            <div class="form-group">
                        <input type="submit" name="insert" form = "form-input" id = "insert" value = "Detect">
                    </div>
        </div>
    </div>

</div>
<script>  
 $(document).ready(function(){  
      $("insert").click(function(){  
           var image_name = $('#image').val();  
           if(image_name == '')  
           {  
                alert("Please Select Image");  
                return false;  
           }  
           else  
           {  
                var extension = $('#image').val().split('.').pop().toLowerCase();  
                if(jQuery.inArray(extension, ['png','jpg','jpeg']) == -1)
                {  
                     alert('Invalid Image File');  
                     $('#image').val('');  
                     return false;  
                }  
           }  
      });  
 });  
 </script>
{% else %}

Not login
{% endif %}
  
{% endblock %}